/*Definicion Variables*/
:root{
    --color-principal: #FFFFFF;
    --color-secondary: #e96443;
    --color-background: #F4F4FC;
    --color-transparent: transparent;
    --color-icons: #B5B7BA;
    --color-subtitle: #888;
    --color-title: #222222;
    --color-text: #555;
    --color-border-testimonials: #e5e6e7;
    --color-company: #a5a6a7;
}

/*Estilos generales*/
html{
    font-size: 10px;

}

body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--color-title);
    overflow-y: auto;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-principal)
}

@media print {
    .no-print, .no-print *{
        display: none !important;
    }
}

/*Imagen de fondo*/


.bg-dark{
    background: linear-gradient(to right,#47484f, #434655, #867975,#413e3d,#221e3a,#434248);
    height: 7rem;
}

.bg-dark .logo{
    font-size: 4rem;
}

.container-cards{
    margin-top: 10rem;
}


.card1{
    position: relative;
    padding: 0 5rem;
    height: 80vh;
    width: 50vh;
    /* background: linear-gradient(to top left,#9DB8FF,#9DB8FF,#535b99,#4f0f56,#1c245e, #21252A, #21252A); */
    background: linear-gradient(to bottom right,#21252A, #363d44,#904e95, #e96443); 
    border-radius: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}


.card2{
    position: relative;
    height: 80vh;
    width: 80vh;
    background: linear-gradient(to bottom right,#21252A, #363d44,#904e95, #e96443); 
    border-radius: 2rem;
}


.card2 .face{
    position: absolute;
    width: 98%;
    height: 90%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: auto;
    transition: 0.5s;
}

.card2 .front{
    transform: perspective(600px) rotateY(0deg);
}

.card2 .front img{
    position: relative;
    left: 20rem;
    width: 35%;
    height: 40%;
}

.card2 .front h4{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card2 .back {
    transform: perspective(600px) rotateY(180deg);
    right: 0.5rem;
}


.card2:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card2:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

@media (max-width: 1090px) {
    .card1{
        height: 80vh;
        width: 80vh;
    }
}

.title__form{
    margin: 5rem 0;
    text-align: center;
}

.title__form h2{
    font-size: 5rem;
}

.image-smile{
    position: relative;
    width: 35rem;
    top: 20%;
    left: 20%;

}


/*Iphone 12 pro 11 SE*/
@media (max-width: 844px) and (max-height: 390px) {
    .card1,
    .card2{
        height: 100vh;
        width: 70vw;
    }
  }

  /*Samsung Galaxy Ultra*/

@media (max-width: 920px) and (max-height: 420px) {
    .card1,
    .card2{
        height: 100vh;
        width: 80vw;
    }
  }

@media (max-width: 700px) {
    .card1,
    .card2{
        height: 80vh;
        width: 100vw;
    }
}


@media (max-width: 600px) {
    .card1,
    .card2{
        height: 80vh;
        width: 60vh;
    }
    .image-smile{
        width: 30rem;
    }
}

@media (max-width: 390px){
    .image-smile{
        width: 23rem;
    }
}


